[project]
	description = Sample test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sys404
[access "refs/for/refs/*"]
	read = group user/sys404
	push = group user/sys404
	label-Code-Review = -2..+2 group user/sys404
	label-Verified = -1..+1 group user/sys404
	rebase = group user/sys404
	removeReviewer = group user/sys404
	submit = group user/sys404
[access "refs/heads/*"]
	read = group user/sys404
	create = group user/sys404
	push = +force group user/sys404
	pushMerge = group user/sys404
[access "refs/tags/*"]
	push = +force group user/sys404
	pushTag = group user/sys404
	pushSignedTag = group user/sys404
